#root {
  padding: 50px 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0 10px 20px 10px;
}

.noteForm {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px;
}

.noteTitleAndText {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  border: solid 2px whitesmoke;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.noteTitle {
  background-color: whitesmoke;
  font-size: 14px;
  font-weight: bold;
  font-family: inherit;
  padding: 10px;
  border: none;
  outline: none;
}

.noteText {
  background-color: whitesmoke;
  border: none;
  padding: 10px;
  font-size: 14px;
  font-family: inherit;
  border-radius: 5px;
  outline: none;
  min-height: 60px;
  resize: vertical;
}

.btnAdd {
  margin-top: 10px;
  text-align: center;
  color: #495057;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 3px 0 0 0;
  background-color: whitesmoke;
  transition: 0.15s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.btnAdd:hover {
  color: #00c16d;
}

.btnAdd:active {
  color: white;
}

.modal-content {
  background-color: whitesmoke;
}

.modal-body {
  padding-bottom: 0;
}

.modalStyleForm {
  margin: 0;
  padding: 0;
}

.modalStyleTitleAndText {
  border: none;
  box-shadow: none;
}

.modalStyleTitle {
  padding: 0;
}

.modalStyleText {
  padding: 20px 0 0 0;
}

.modalStyleBtn {
  box-shadow: none;
  border-top: solid 1px #DFE2E6;
  padding: 10px 0 5px 0;
  margin: 0;
}

.notesContainer {
  margin: 20px 5px 5px 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
  max-width: 300px;
  padding: 15px 20px 5px 20px;
  border-radius: 5px;
  background-color: #fae588;
  color: #495057;
  word-wrap: break-word;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.noteBody {
  padding-bottom: 30px;
}

.noteBody:hover {
  cursor: pointer;
}

.noteDate {
  font-size: 14px;
  margin: 0px 0px 5px 0px;
}

.btnDel {
  border: 2px solid #fae588;
  border-radius: 5px;
  padding: 0;
  background-color: #fae588;
  transition: 0.2s;
  width: 100%;
  color: #495057;
}

.btnDel:hover {
  color:#fe6d73;
}

.btnDel:active {
  color:#b21e35;
}

.modalTitle {
  margin: 0;
}

.modalBody {
  word-wrap: break-word;
}

.deleteAllBtnOff {
  display: none;
}

.deleteAllBtnOn {
  display: block;
  background-color: white;
  margin-top: 60px;
  transition: 0.2s;
  border: none;
  color: #495057;
}

.deleteAllBtnOn:hover {
  color:#fe6d73;
}

.deleteAllBtnOn:active {
  color:#b21e35;
}


@media all and (max-width: 950px) {
  #root {
    padding: 50px 100px;
  }
}

@media all and (max-width: 650px) {
  #root {
    padding: 50px 50px;
  }
}